html {
    font-size: 16px;
    font-family: "Nova Oval", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #231F1F;
    color: antiquewhite;
    
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    width: 50%;
    display: inline-flex;
    align-items: center;
}
.heading {
    order:2;
    padding: 0 10px;
}
h1 {
    font-size : 2rem;
    text-align: center;
    font-family: "Nova Oval", system-ui;
    font-weight: 400;
    color: #EE6396;
   
}
header .subtitle {
    font-size: 1.5rem;
    
}
.header-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    order: 1;
}
main {
    width: 50%;
    display: inline;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
footer {
    background-color: transparent;
    padding: 40px 0;
}
.copyright {
    border-top: solid 1px white;
    text-align: center;
    padding-top: 20px;
}
